.error-page{
    margin: 50% auto;
    padding: 1rem;
    text-align: center;
    color: rgba(253, 37, 37, 0.753);
}

.home-btn-container{
    padding: 2rem 1rem;
}

.home-btn{
    padding: 1rem;
    text-decoration: none;
    background-color: rgb(76, 0, 255);
    color: white;
    border: 1px solid;
    cursor: pointer;
}


@media(min-width: 600px){
    .error-page{
        margin: 20% auto;
    }
}